$theme-colors: (
  'primary': #041b25,
  // 'secondary': #3e8d88,
  'secondary': #ff8b50,
  'link': #ff8b50,
  'icon': #00c6ac,
  // 'success': ,
  'danger': #ff4136,
  // 'warning': ,
  // 'info': ,
  'light': #fff7d6,
  // 'dark': ,
  'black': #01070a,
  'white': #ffffff,
);

$body-bg: #072737;
// $body-bg: #e0f1ef;
// $body-color: ;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

a:hover {
  text-decoration: none;
}

.icon {
  font-size: 2rem;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #0b374d;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #0b374d;
  }
}

@media only screen and (max-width: 991px) {
  .header-btm-margin {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 991px) {
  .margin-fix {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
